.App {
  text-align: center;
}

.carousel.carousel-slider .control-arrow:hover {
  background: rgb(255 255 255 / 20%);
}

.carousel  {
  min-width: 100%;
  margin: 0;
  position: relative;
  text-align: center;
  background: white;
}

.carousel .slide {
  min-width: 100%;
  margin: 0;
  position: relative;
  text-align: center;
  background: #fff;
}


.carousel .slide {
  background: #fff;
}

.logo1{
  width: 67%;
  margin-bottom: 85%;
  margin-left: 20%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.margin1{
  margin-top: -15px;
  width: 43%;
  margin-left: 23px;
}
.wrapparent{
  margin-top: -116px;
}

.landing1{
    margin-top: -199px;
    width: 373px;
}

.App-link {
  color: #61dafb;
}

.carousel .thumb {
  display: none;
}

.sizelogo{
  max-width: 75%;
  width: 76%;
}

.opciones{
  padding: 0px 86px;
  background: white;
  margin-top: -47%;
  
}
.bebidas{
  margin-top: -39%;
  width: 96%;
}

.flex{
  margin-top: -48.9%;
  margin-left: 1%;
}

.postres{
  width: 73%;
}

.flex > div{
  margin-left: 1px;
}

.derecha{
  width: 8%;
  height: 3%;
  margin-top: 74%;
  margin-left: -3%;
}
.backtomenu{
 
  
}
.izquierda{
  width: 8%;
}

.flexible{
  display: flex;
}
.wrap{
  display: flex;
  padding: 2%;
}
.wi{
  width: 51%;
  height: 0%;
}
.vi{
  width: 142px;
  height: 189px;
}

.blanc{
  height: 145px;
  margin-top: -85px;
}
.blanc1{
  height: 1%;
  margin-top: -143px;
}

.lic{
  width: 135px;
  height: 145px;
  margin-top: -44px;
}

.on{
  width: 135px;
  height: 145px;
  margin-top: -44px;
}

.cc{
  width: 44%;
    height: 181px;
}

.menuha{
  background: white;
}


div{
  background: white;
  
}

.bm-burger-button{
  background: white;
}

.positionhv > img{
  width: 31px;
  margin-top: 11px;
  margin-left: 308px;
  
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


