.App {
  text-align: center;
}

.carousel.carousel-slider .control-arrow:hover {
  background: rgb(255 255 255 / 20%);
}

.carousel  {
  min-width: 100%;
  margin: 0;
  position: relative;
  text-align: center;
  background: white;
}

.carousel .slide {
  min-width: 100%;
  margin: 0;
  position: relative;
  text-align: center;
  background: #fff;
}


.carousel .slide {
  background: #fff;
}

.logo1{
  width: 60%;
  margin-bottom: 29%;
  margin-left: 21%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.margin1{
  margin-top: -15px;
  width: 43%;
  margin-left: 23px;
}
.wrapparent{
  margin-top: -16%;
}

.landing1{
  margin-top: 23px;
  width: 373px;
}

.landing{
  display: flex;
}

.regresa12{
  margin-top: -2px;
  margin-left: 36px;
}

.regresa1{
  margin-top: -39%;
  width: 26px;
  margin-right: -62px;
}
.regresa12w{

  margin-left: 36px;
}

.regresa122w{
  margin-left: 36px;
}

.regresar1w{
  margin-top: -179%;
  width: 26px;
  margin-right: -62px;
}

.regresa16{
    margin-top: -39%;
    width: 26px;
    margin-right: 309px;
}

.beb{
    margin-top: 0%;
    width: 90%;
}

.homer{
  width: 4%;


}

.opciones123{
  margin-top: -138%;
}

.volver{
  width: 1%;
  font-size: 31px;
  margin-bottom: 1px;
}

.volver1{
  font-size: 31px;
  margin-right: 66%;
  margin-top: -35px;
}

.volver13{
  font-size: 31px;
  margin-bottom: 25px;
  margin-left: -292px;
}

.regrp{
  margin-top: -13%;
  margin-left: -64%;
}

.App-link {
  color: #61dafb;
}

.carousel .thumb {
  display: none;
}

.sizelogo{
  max-width: 75%;
  width: 76%;
}

.opciones{
  padding: 0px 97px;
  background: white;
  margin-top: -15%;
  
}
.bebidas{
    margin-top: 10%;
    width: 90%;
}

.flex{
  margin-top: -23%;
  margin-left: 1%;
}

.postres{
  width: 73%;
}

.flex > div{
  margin-left: 1px;
}

.derecha{
  width: 8%;
  height: 3%;
  margin-top: 74%;
  margin-left: -3%;
}
.backtomenu{
 
  
}



.izquierda{
  width: 8%;
}

.flexible{
  display: flex;
}
.wrap{
  display: flex;
  padding: 2%;
}
.wi{
  width: 51%;
  height: 0%;
  margin-top: -6%;
}
.vi{
  width: 142px;
  height: 189px;
}

.blanc{
  height: 145px;
  margin-top: -115px;
}
.blanc1{
  height: 1%;
  margin-top: -174px;
}

.lic{
  width: 135px;
  height: 145px;
  margin-top: -44px;
}

.on{
  width: 135px;
  height: 145px;
  margin-top: -69px;
}

.cc{
  width: 44%;
    height: 181px;
}

.menuha{
  background: white;
}


div{
  background: white;
  
}

.bm-burger-button{
  background: white;
}

.positionhv > img{
  width: 31px;
  margin-top: 11px;
  margin-left: 308px;
  
}

.positionhv{
  padding: 0px;
}


.bm-cross-button{
  display: none;
}

.bm-burger-button{
   position: absolute !important;
    left: 6px !important;
    top: 0px !important;
    width: 100% !important;
    height: 5% !important;
    margin: 0px !important;
    padding: 0px !important;
    border: none !important;
    font-size: 0px !important;
    background: transparent !important;
    cursor: pointer !important;
}

.BrainhubCarousel__track .BrainhubCarousel__track--transition .BrainhubCarousel__track--draggable{
  transition-duration: 250ms, 250ms !important;
}

.bm-burger-button > button {
    position: absolute !important;
    left: 318px !important;
    top: 6px !important;
    width: 9% !important;
    height: 100% !important;
    margin: 0px !important;
    padding: 0px !important;
    border: none !important;
    font-size: 0px !important;
    background: transparent !important;
    cursor: pointer !important;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


